.Header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: grey;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.a-headers {
  text-decoration: none;
  color: white;
  padding: 7px;
  display: inline-block;
  transition: background-color 0.5s ease;
  border-radius: 10px;
}

.a-headers:hover {
  background-color: #363636;
  padding: 7px;
}
